
.two-columns {
  @media (min-width: $breakpoint-tablet) {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}
.logos-container {
  width: 100%;
}
.clientes-logos {
  background:white;
  padding-top: 2em;
  padding-bottom: 2em;

  img {
    display: block;
    max-width:130px;
    max-height:130px;
    width: auto;
    height: auto;
  }
}
.grayscale-logo {
  //filter: grayscale(%);
}