p Hemos realizado trabajos en empresas como:
ul.two-columns
  li AS Maquila México S. de R. L. de C.V. - American Estandart Part Of Lixil
  li Fundación Mier y Pesado I.A.P
  li Club Naval Norte de la Secretaría de Marina (SEDENA)
  li Comercializadora de Lácteos y Derivados S.A de C.V. (LALA)
  li Innovación en Alimentos S. de R. L. de C.V. (NOVAM)
  li CB Soluciones Térmicas S.A. de C.V. (Selmec Equipos Industriales S.A de C.V.)
  li Instituto Mexicano del Seguro Social (IMSS)
  li Pilgrim's Pride, S. de R.L. de C.V.
  li PEASA Productos Especializados en Acero S.A de C.V.
  li LKY Industrial Services S. de R.L. de C.V
  li Star Médica, S.A de C.V
  li Operadora de molinos S.A De C.V (NUTROLINE)
  li Envasadoras de Aguas en México, S. de R.L. de C.V (BONAFONT)
  li Universidad Nacional Autónoma de México (UNAM)
  li Sanborns Hermanos S.A.
  li SEARS Operadora México, S.A. de C.V.
  li Autotransportes Nieto S.A DE C.V.
  li Compañía Manufacturera Asturias, S.A. de C.V.
  li Radio móvil Dipsa, S.A. de C.V. (TELCEL)
  li Industrias Unidas, S.A. DE C.V (IUSA)
  li Fábrica de Chocolates y Dulces Costanzo S.A de C.V.
  li Productores Ganaderos GUSI, SPR de RL de CV
  li Barca de México S.A de C.V
  li CitroFrut S.A DE C.V
  li Colchas de México S.A. de C.V. (CONCORD)
  li Grupo Aguacatero Mexicano S. de R.L. de C.V. (GAMEX), entre otros.