p Hemos realizado trabajos en empresas como:
ul.two-columns
  li AS Maquila México S. de R. L. de C.V. - American Estandart Part Of Lixil
  li Fundación Mier y Pesado I.A.P.
  li Club Naval Norte de la Secretaría de Marina (SEDENA)
  li Comercializadora de Lácteos y Derivados S.A de C.V. (LALA)
  li NOVAM / Innovación en Alimentos S. de R. L. de C.V.
  li CB Soluciones Térmicas S.A. de C.V. (Selmec Equipos Industriales S.A de C.V.)
  li Instituto Mexicano del Seguro Social (IMSS)
  li Pilgrim´s°. Pilgrim's Pride, S. de R.L. de C.V.
  li PEASA Productos Especializados en Acero S.A de C.V.
  li lky
  li Star medica
  li Operadora de molinos (nutroline)
  li Bonafont
  li Universidad Nacional Autónoma de México (UNAM)
  li Sanborns Hermanos S.A.
  li SEARS Operadora México, S.A. de C.V.
  li Autotransportes nieto
  li Asturias
  li Radio móvil Dipsa, S.A. de C.V. (TELCEL)
  li IUSA
  li Costanzo
  li Carnes Gusi
  li Barca de México
  li CitroFrut
  li Colchas de México S.A. de C.V. (Colchas Concord)
  li Grupo Aguacatero Mexicano (GAMEX), entre otros.