<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="js/main.js")
    title Industrial Kamelu
  body
    .navbar
      a.logo-link(href="#")
        img.navbar-logo(src="img/navbar_logo.png", alt="Industrial Kamelu Logotipo")
      #js-navbar-toggle.mobile-menu
        a(on-click="navBarToggle()") Menú
      #js-menu.navbar-links
        a(href="#quienes-somos") Quiénes Somos
        a(href="#servicios") Servicios
        a(href="#clientes") Clientes
        a(href="#contacto") Contacto
    .hero
        img.imak-logo(src="img/imak_hero_logo.png", alt="IMAK logo")

    #quienes-somos.container.somos-section
      .section-title
        h1.title-section Quiénes Somos
      .section-text
        include text/somos.html
      .section-image
        img.rounded.shadow(src="img/5.jpg", style="max-width: 500px;", loading="lazy")

    #servicios.container.servicios-container
      .content
        h1 Servicios
        p La gama de servicios ofrecidos por Instalación y Mantenimiento Industrial Kamelu S.A. de C.V., se concentra en tres grandes áreas: Industrial, comercial y residencial.
        p Nuestros servicios:
        ul
          li En calderas de vapor y agua caliente: Conexión, desconexión, reconstrucción y, mantenimiento preventivo, predictivo y correctivo; pruebas hidrostáticas, de operación y seguridad; trabajos de paileria (instalación de tuberías de agua, vapor, gas, líquidos térmicos, tubos flux,); automatización y actualización de sistemas de control; reparación de material aislante y refractario.
          li Conexión, desconexión y mantenimiento a plantas de emergencia, subestaciones eléctricas.
          li Remodelaciones residenciales.
          li Instalaciones comerciales y obra civil.

    #clientes.container
      h1(style="text-align:center") Clientes
      include text/clientes_text.pug
    .logos-container
      .clientes-logos
        img.grayscale-logo(src="img/clientes/pilgrims.png")
        img.grayscale-logo(src="img/clientes/nutro_line.jpg")
        img.grayscale-logo(src="img/clientes/carnes_gusi.png")
        img.grayscale-logo(src="img/clientes/silanes.jpg")
        img.grayscale-logo(src="img/clientes/bonafont.png")
        img.grayscale-logo(src="img/clientes/selmec.png")
        img.grayscale-logo(src="img/clientes/imss.png")
        img.grayscale-logo(src="img/clientes/peasa.jpg")
        img.grayscale-logo(src="img/clientes/lala.jpg")
        img.grayscale-logo(src="img/clientes/constanzo.png")
        img.grayscale-logo(src="img/clientes/mier_y_pesado.jpg")
        img.grayscale-logo(src="img/clientes/lky.png")
        img.grayscale-logo(src="img/clientes/concord.png")
        img.grayscale-logo(src="img/clientes/gamex.jpg")
        img.grayscale-logo(src="img/clientes/star_medica.png")
        img.grayscale-logo(src="img/clientes/unam.png")
        img.grayscale-logo(src="img/clientes/sanborns.jpg")
        img.grayscale-logo(src="img/clientes/sears.png")
        img.grayscale-logo(src="img/clientes/sedena.png")
        img.grayscale-logo(src="img/clientes/iusa.png")
        img.grayscale-logo(src="img/clientes/telcel.jpg")
        img.grayscale-logo(src="img/clientes/citrofrut.png")

    .container(style="background: #282828; padding-top: 2em; padding-bottom: 2em;")
      .grid-gallery
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,16, 17, 18]
          .grid-gallery__item
            img.grid-gallery__image(src="img/galeria/" + val + ".png" loading="lazy", style= "border-radius: 0.1em;")

    #contacto.container.contacto-section
      .data
        h1 Contacto
        .box
          .image
            i.fas.fa-map-marked(style="font-size: 7em;")
          .text
            h2 Administración
            .direccion
              | Palomas No. 100
              br
              | Col. Granjas Modernas
              br
              | Gustavo A. Madero
              br
              | c.p. 07460, CDMX, México
        .box
          .image
            i.fas.fa-phone-square(style="font-size: 7em;")
          .text
            h2 Teléfonos de oficina:
            | 01 (52) 6993 8222
            br
            | 01 (52) 5835 7101
            h2 Teléfono Móvil
            | 55 380 61445

        .box
          .image
            i.fas.fa-envelope(style="font-size: 7em;")
          .text
            h2 Correo Electrónico
            | cotizaciones@industrialkamelu.com
            br
            | vargaslemus@industrialkamelu.com
      .map

    .footer
      p Instalación y Mantenimiento Industrial Kamelu S.A. de C.V., (IMAK S.A. de C.V.)