<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="js/main.js")
    title Industrial Kamelu
  body
    .navbar
      img.navbar-logo(src="img/navbar_logo.png", alt="Industrial Kamelu Logotipo")
      .navbar-links
        a(href="#quienes-somos-link") Quiénes Somos
        a(href="#") Servicios
        a(href="#") Clientes
        a(href="#") Contacto
    .hero
        img.imak-logo(src="img/imak_hero_logo.png", alt="IMAK logo")
    .content
      h1(id="quienes-somos-link") Quiénes Somos
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10, 11, 12]
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi nostrum dolores similique harum optio sit, minus enim aut, minima ratione consequatur dignissimos velit vitae sed cum porro temporibus corporis id!
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi nostrum dolores similique harum optio sit, minus enim aut, minima ratione consequatur dignissimos velit vitae sed cum porro temporibus corporis id!
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi nostrum dolores similique harum optio sit, minus enim aut, minima ratione consequatur dignissimos velit vitae sed cum porro temporibus corporis id!
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi nostrum dolores similique harum optio sit, minus enim aut, minima ratione consequatur dignissimos velit vitae sed cum porro temporibus corporis id!
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi nostrum dolores similique harum optio sit, minus enim aut, minima ratione consequatur dignissimos velit vitae sed cum porro temporibus corporis id!
